<section class="gift-banner">
  <div class="banner-background">
    <!-- background SVG/PNG image -->
  </div>
  <div class="banner-content">
    <h2>{{ section.settings.heading }}</h2>
    <p>{{ section.settings.subheading }}</p>
    <a href="{{ section.settings.button_link }}" class="banner-btn">
      {{ section.settings.button_text }}
    </a>
  </div>
  <button class="choose-gift">CHOOSE GIFT</button>
</section>